<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Fung Institute | Interactive patent mapping</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link href="{{ url_for('static', filename='css/style2.css') }}" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar  navbar-fixed-top bs-docs-nav">
            <div class="navbar-inner">
                <div class="container" id="hie">
                    <a id="navbar" data-toggle="tooltip" class="brand"title="Mapper"><h3>Patent Location By Geo-Mapping<h3></a>
                </div>
            </div>
        </div>

        <div class="container" >
            <div class="row">
                <div class="span4">
                    <a href="http://funginstitute.berkeley.edu/">
                      <img src="{{ url_for('static', filename='img/fung.png') }}" alt="Fung Institute" title="Fung Institute">
                    </a>
                </div> 
                <div class="span8"  id="expos">
                    <a id="expo"></a>
                </div>                 
            </div>
            <!-- Example row of columns -->
            <div class="row">
                <div class="span12 mainspan">
                    <div id="map" > </div>
                    <div id="draggable" class="ui-widget-content">
                        <div style="font-size:12px; text-align:center;">
                            <h4 class="text-info"><strong><em>Patent information</em></strong></h4>
                        </div>
                        <hr>
                        <div id="countrydiv" data-toggle="tooltip" data-placement="left" title data-original-title="Select the Country associated with the patent">

                            <form method="post">
                                <label id="countrylabel" for="country" ;>Country</label> 
                                <select class="form-control" name="country[]" id="country"> 
                                <option value="">--Country--</option>
                                <option value="AD">AD</option>
                                <option value="AE">AE</option>
                                <option value="AG">AG</option>
                                <option value="AI">AI</option>
                                <option value="AL">AL</option>
                                <option value="AM">AM</option>
                                <option value="AN">AN</option>
                                <option value="AO">AO</option>
                                <option value="AR">AR</option>
                                <option value="AT">AT</option>
                                <option value="AU">AU</option>
                                <option value="AW">AW</option>
                                <option value="AZ">AZ</option>
                                <option value="BA">BA</option>
                                <option value="BB">BB</option>
                                <option value="BD">BD</option>
                                <option value="BE">BE</option>
                                <option value="BF">BF</option>
                                <option value="BG">BG</option>
                                <option value="BH">BH</option>
                                <option value="BJ">BJ</option>
                                <option value="BM">BM</option>
                                <option value="BN">BN</option>
                                <option value="BO">BO</option>
                                <option value="BR">BR</option>
                                <option value="BS">BS</option>
                                <option value="BW">BW</option>
                                <option value="BY">BY</option>
                                <option value="BZ">BZ</option>
                                <option value="CA">CA</option>
                                <option value="CH">CH</option>
                                <option value="CI">CI</option>
                                <option value="CK">CK</option>
                                <option value="CL">CL</option>
                                <option value="CM">CM</option>
                                <option value="CN">CN</option>
                                <option value="CO">CO</option>
                                <option value="CR">CR</option>
                                <option value="CU">CU</option>
                                <option value="CY">CY</option>
                                <option value="CZ">CZ</option>
                                <option value="DE">DE</option>
                                <option value="DK">DK</option>
                                <option value="DM">DM</option>
                                <option value="DO">DO</option>
                                <option value="DZ">DZ</option>
                                <option value="EC">EC</option>
                                <option value="EE">EE</option>
                                <option value="EG">EG</option>
                                <option value="ES">ES</option>
                                <option value="ET">ET</option>
                                <option value="FI">FI</option>
                                <option value="FJ">FJ</option>
                                <option value="FR">FR</option>
                                <option value="GA">GA</option>
                                <option value="GB">GB</option>
                                <option value="GD">GD</option>
                                <option value="GE">GE</option>
                                <option value="GF">GF</option>
                                <option value="GG">GG</option>
                                <option value="GH">GH</option>
                                <option value="GI">GI</option>
                                <option value="GL">GL</option>
                                <option value="GM">GM</option>
                                <option value="GP">GP</option>
                                <option value="GR">GR</option>
                                <option value="GT">GT</option>
                                <option value="GY">GY</option>
                                <option value="HK">HK</option>
                                <option value="HN">HN</option>
                                <option value="HR">HR</option>
                                <option value="HT">HT</option>
                                <option value="HU">HU</option>
                                <option value="ID">ID</option>
                                <option value="IE">IE</option>
                                <option value="IL">IL</option>
                                <option value="IM">IM</option>
                                <option value="IN">IN</option>
                                <option value="IQ">IQ</option>
                                <option value="IR">IR</option>
                                <option value="IS">IS</option>
                                <option value="IT">IT</option>
                                <option value="JM">JM</option>
                                <option value="JO">JO</option>
                                <option value="JP">JP</option>
                                <option value="KE">KE</option>
                                <option value="KG">KG</option>
                                <option value="KH">KH</option>
                                <option value="KN">KN</option>
                                <option value="KP">KP</option>
                                <option value="KR">KR</option>
                                <option value="KW">KW</option>
                                <option value="KY">KY</option>
                                <option value="KZ">KZ</option>
                                <option value="LA">LA</option>
                                <option value="LB">LB</option>
                                <option value="LC">LC</option>
                                <option value="LI">LI</option>
                                <option value="LK">LK</option>
                                <option value="LR">LR</option>
                                <option value="LT">LT</option>
                                <option value="LU">LU</option>
                                <option value="LV">LV</option>
                                <option value="LY">LY</option>
                                <option value="MA">MA</option>
                                <option value="MC">MC</option>
                                <option value="MD">MD</option>
                                <option value="MG">MG</option>
                                <option value="MH">MH</option>
                                <option value="MK">MK</option>
                                <option value="ML">ML</option>
                                <option value="MO">MO</option>
                                <option value="MQ">MQ</option>
                                <option value="MR">MR</option>
                                <option value="MT">MT</option>
                                <option value="MU">MU</option>
                                <option value="MW">MW</option>
                                <option value="MX">MX</option>
                                <option value="MY">MY</option>
                                <option value="NA">NA</option>
                                <option value="NC">NC</option>
                                <option value="NE">NE</option>
                                <option value="NG">NG</option>
                                <option value="NI">NI</option>
                                <option value="NL">NL</option>
                                <option value="NO">NO</option>
                                <option value="NP">NP</option>
                                <option value="NZ">NZ</option>
                                <option value="OM">OM</option>
                                <option value="PA">PA</option>
                                <option value="PE">PE</option>
                                <option value="PF">PF</option>
                                <option value="PG">PG</option>
                                <option value="PH">PH</option>
                                <option value="PK">PK</option>
                                <option value="PL">PL</option>
                                <option value="PT">PT</option>
                                <option value="PW">PW</option>
                                <option value="PY">PY</option>
                                <option value="QA">QA</option>
                                <option value="RO">RO</option>
                                <option value="RS">RS</option>
                                <option value="RU">RU</option>
                                <option value="SA">SA</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="SE">SE</option>
                                <option value="SG">SG</option>
                                <option value="SI">SI</option>
                                <option value="SK">SK</option>
                                <option value="SL">SL</option>
                                <option value="SM">SM</option>
                                <option value="SN">SN</option>
                                <option value="SR">SR</option>
                                <option value="SV">SV</option>
                                <option value="SY">SY</option>
                                <option value="SZ">SZ</option>
                                <option value="TC">TC</option>
                                <option value="TD">TD</option>
                                <option value="TH">TH</option>
                                <option value="TM">TM</option>
                                <option value="TN">TN</option>
                                <option value="TR">TR</option>
                                <option value="TT">TT</option>
                                <option value="TW">TW</option>
                                <option value="TZ">TZ</option>
                                <option value="UA">UA</option>
                                <option value="UG">UG</option>
                                <option value="US">US</option>
                                <option value="UY">UY</option>
                                <option value="UZ">UZ</option>
                                <option value="VC">VC</option>
                                <option value="VE">VE</option>
                                <option value="VG">VG</option>
                                <option value="VN">VN</option>
                                <option value="VU">VU</option>
                                <option value="WS">WS</option>
                                <option value="YE">YE</option>
                                <option value="ZA">ZA</option>
                                <option value="ZM">ZM</option>
                                <option value="ZW">ZW</option>
                                </select>  
                            </form>
                        </div>
                        <a data-toggle="tooltip" class="brand" href="http://sustainablesources.com/resources/country-abbreviations/"><h5 style="text-align:center">Country Code List<h5></a>
                        <div id="statediv" data-toggle="tooltip" data-placement="left" title data-original-title="Select the State associated with the patent">
                            <form method="post">
                                <label id="statelabel" for="state" ;>State</label> 
                                <select class="form-control" name="state[]" id="state"> 
                                <option value="">--State--</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                                </select>  
                            </form>
                        </div>

                         
                        <div id="year" data-toggle="tooltip" data-placement="left" data-original-title="Select the Year associated with the patent">
                            <label id="yearlabel" for="yearSelect" ;>Year</label>
                            <select id="yearSelect" class="form-control"></select>
                        </div>
                        <div id="class" data-toggle="tooltip" data-placement="left" data-original-title="Enter the class number associated with the patent">
                            <label id="classlabel" for="cla">Class</label>
                            <input id="cla" type="text" style="backgroud-color:yel;" maxlength="4" class="form-control" placeholder="Number between 1-1000">
                        </div>
                        
                        <div id="click">
                            <button id="button" type="button" data-loading-text="Loading.." class="btn btn-primary">Map</button>
                        </div>

                        <form class="fileUpload btn btn-primary" action="" method=post enctype=multipart/form-data>
                            <h6>Upload new File</h6>
                            <p><input id="fileupload" type=file name="file" data-url="http://127.0.0.1:5000/upload/"></p>
                        </form>
                        <!--  http://169.229.7.251:5000/upload/ -->
                        <center><img class="drag" src="{{ url_for('static', filename='img/fung.gif') }}"></center>
                        <hr>
                        <div>
                            <span style="color:red">Supported by the NSF under Grant Number 0965259 and the United States Patent and Trademark Office
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="col-lg-1">
            <a href="https://www.facebook.com/EngineeringLeadership"><img src="{{ url_for('static', filename='img/facebook.png') }}" class="facebook" alt="Reponsive image"></a>
            <a href="https://twitter.com/FungInstitute"><img src="{{ url_for('static', filename='img/twitter.png') }}" class="twitter" alt="Reponsive image"></a>
            </footer>
        </div> <!-- /container -->
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/markerclusterer.js') }}"></script>
        
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <!--<script>window.jQuery || document.write("<script src={{ url_for('static', filename='js/vendor/jquery-1.10.2.min.js') }}><\/script>")</script>-->
        
          <script src="{{ url_for('static', filename='js/myjs.js') }}"></script>
          <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>

          <script src="{{ url_for('static', filename='js/main.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.ui.widget.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.iframe-transport.js') }}"></script>
          <script src="{{ url_for('static', filename='js/jquery.fileupload.js') }}"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
